*{
    margin: 0;
    padding: 0;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.body{
    width: auto;
    display: flex;
    
}
.header{
    height: 100vh;
}

.navbar-style{
    box-shadow: 0 5px 10px rgb(124, 120, 120);
}
.logo{
    height: 12vh;
    box-shadow: none;
   
}
.nav {
   padding-top: 0px 20px; 
}

li a{
    justify-content: space-evenly;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
li a:hover{
    color: black;  
 }

.icon-bar{
    background: rgb(213, 211, 210);
}

.row{
    color: rgb(213, 211, 210);
    margin: 40px;
    justify-content: center;
    
}
.info{
    padding: 20px 40px;
}
#home{
    margin-top: 10vh;
    text-align: center;
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}
a.btn-one{
    background-color: rgb(213, 211, 210);
    color: black;
}
a.btn-two{
    background: transparent;
    border: 1px solid rgb(213, 211, 210);
    color: rgb(213, 211, 210);
}
a.btn:hover{
    background: rgb(213, 211, 210);
    border: none;
    transition: 0.3s;
    color: black;
    box-shadow: 5px 5px 10px gray;
}
.name{
    font-size: 50px;
    font-family: 'Ballet', cursive;
    font-weight: bold;
    color: rgb(189, 152, 224);
}
.skills{
    
    font-family: 'Baloo Bhai 2', cursive;
}
#home img{
    height: 40%;
    width: 70%;
    box-shadow: 25px 25px 15px gray;
    border-bottom-left-radius: 45px;
}

#aboutMe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(213, 211, 210);
    padding: 50px;
    text-align: justify;

}
#aboutMe img{
    height: 40%;
    width: 70%;
    box-shadow: -25px 25px 15px gray;  
    border-bottom-right-radius: 45px;
}

#contact{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(213, 211, 210);
    padding: 20px 50px;
    justify-content: center;
    align-items: space-between;
    text-align: center;

}

#contact p{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;   
}
.icon{
    color: rgb(213, 211, 210);
}

.btn i{
    border-color: grey;
    border: 2px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    
}
footer{
    text-align: center;
    padding: 3px;
    color:grey; 
    background: grey;
}

/*-----CSS for small screen 680px-----*/
@media  screen and (max-width: 680px) {
    .logo{
        height: 8vh;
    }
    .row{
        margin: 20px;
        justify-content: center;
        align-items: center;
        
    }
    .nav{
        text-align: right;
    }
    .name{
        font-size: 45px;
    
    }
    .skills{
    
        font-size: large;
    }
    #home img{
        height: 30%;
        width: 60%;
        box-shadow: none;
        border-radius: 0px;
    }
    a.btn{
        margin: 10px;
        width: 120px;
        border-radius: 20px;
        padding: 10px;
        font-weight: normal;
    }
    #aboutMe{
        font-size: 14px;
        margin: 20px;
        padding: 0;
        text-align: left;
    
    }
    #aboutMe img{
    
        display: none;
        
    }
    #contact{
        font-size: 14px;       
        align-items: center; 
    
    }
    #contact p{
       
        font-size: 12px;   
    }
    .btn i{
        padding: 6px 8px;
        display: flex;
        font-size: medium;
        
    }
    footer{
       font-size: small;
    }
}


/*-----CSS for small screen 550px-----*/
@media  screen and (max-width: 550px) {
    .row{
        margin: 10px;
    
    }
    .nav{
        text-align: right;
    }
 
    .name{
        font-size: 30px;
    
    }
    #home img{
        height: 20%;
        width: 50%;
        box-shadow: none;
        border-radius: 0px;
    }
    #aboutMe{
        font-size: 12px;
        margin: 10px;
        text-align: left;
        padding: 0;
        justify-content: center;
    
    }
    #aboutMe img{
      
        display: none;
    }
    #contact{
        font-size: 10px;       
    
    }
    #contact p{
       
        font-size: 14px;   
    }
    .btn i{
        padding: 6px 8px;
        display: block;
        font-size: medium;
        
    }
    footer{
       font-size: x-small;
    }
}

